# TITANIC SURVIVOR ANALYSIS

In [ ]:
import pandas as pd
import numpy as np

**READING DATA USING PANDAS**

We use pandas read_csv function to read the csv file in python and dataFrame method to convert file into the data frame

In [ ]:
df = pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

In [ ]:
df.shape

**Description of the attributes of the datast**

Pclass: Passenger Class(1 = 1st; 2 = 2nd; 3 = 3rd)

survival:Survival(0 = No; 1 = Yes)

name: Name

sex: Sex

age: Age

sibsp: Number of siblings/Spouses Aboard

parch: Number of parents/Children Aboard

ticket: Ticket Number

fare: Passenger Fare(British pound)

cabin: Cabin

embarked: Port of Embarkation(C = Cherbourg; Q = Queenstown; S = Southamton)

# ***HANDELING NULL VALUES***
The dataset may contains many rows and columns for which some values are missing,we can't leave those missing values as it is.

In such cases we have two option:



1.   Either drop the entire row or column
2.   Fill the missing values with some appropriate value let's say mean
 of all the values for that column may do the job.

In [ ]:
df.isnull().sum()

Seperating out the columns which have more thn 35% of the values missing in the dataset

In [ ]:
# df.isnull().sum() returns a pandas series with column name as the label index
# and total count of null values in the column as it's value
# And we are storing only those columns which have more than 35% of the data missing.
 
drop_col = df.isnull().sum()[df.isnull().sum()>(35/100 * df.shape[0])]
drop_col

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

Because **Embarked** contains string values,we see the details of that column seperately from others as strings does not have mean and all.

In [ ]:
df['Embarked'].describe()

For Embarked attribute,we fill the null values with the most frequent value in the column.

In [ ]:
df['Embarked'].fillna('s',inplace=True)

In [ ]:
df.isnull().sum()    #NOW ALL THE NULL VALUES HAVE BEEN FILLED

In [ ]:
df.corr()

sibsp: Number of siblings/Spouses Aboard

parch: Number of parents/Children Aboard

So we can make a new column family_size by combining these two column

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch']
df.drop(['SibSp','Parch'], axis=1, inplace=True)
df.corr()

**FamilySize in the ship does not have much correlance with survival rate**

Let's check if we weather the person was alonw or not can affect the survival rate.

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

If the person is alone he/she has less chance of surviving.

***The reason might be  the person who is  travelling with his family might be belonging to rich class and might be prioritized over other.***

In [ ]:
df[['Alone','Fare']].corr()

So we can see if the person was not alone, the chance the ticket price is higher is high

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]  # 1 for female, 0 for male
df.groupby(['Sex'])['Survived'].mean()

It shows,female passengers have more chance of surviving than male ones.

It shows,women were prioritized over men.

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()

In [ ]:
df.describe()

In [ ]:
df.info()